.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}


article {
  width: 100% !important;
  & + div {
    width: 100% !important;
    & + div {
      width: 100% !important;
    }
  }
}
article + div {
  width: 100% !important;
}
article + div + div {
  width: 100% !important;
}
div#tradingview_77160-wrapper {
  width: 100% !important;
  & + div {
    width: 100% !important
  }
}